.outer-container{
    display:block;
    position:relative;
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    -webkit-flex:1 0 auto
}
.wrapper{
    box-sizing:border-box;
    padding-bottom:200px;
    padding-left:100px;
    padding-top:100px;
    position:relative}
    .error-404 
.wrapper
{padding-right:30px}

.text-container{
    max-width:600px;
    padding-right:50px}

.copy a.read-more{
    color:#FF00FF;
    text-decoration:none}
.copy a.read-more:hover{
    color:#e204e2}
.copy a{
    color:#757575;
    text-decoration:underline}
.copy a:hover{
    color:darker(#757575,20%)}
.copy a.hidden-link{
    color:inherit;
    cursor:text;
    text-decoration:none}
.copy a.hidden-link:hover{
    color:inherit;
    cursor:text;
    text-decoration:none}
.hide,.hide-inline{
            display:none}
.lt-ie9 .hide{
    display:block}
.lt-ie9 .hide-inline{
    display:inline}


/* Responsive */
@media all and (max-width:1200px)
{.wrapper{padding-left:160px;padding-bottom:150px}}
@media all and (max-width:850px){.wrapper{padding-left:135px}}
@media all and (max-width:700px)
{.wrapper{padding-top:160px;padding-left:100px;padding-bottom:100px}}
@media all and (max-width:600px)
{.wrapper{padding-top:160px;padding-left:80px}}
@media all and (max-width:500px)
{.wrapper{padding-top:120px;padding-left:36px}}
@media all and (max-width:1024px)
{.text-container{max-width:500px}}
@media all and (max-width:500px)
{.text-container{padding-right:50px}}

